@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', Arial;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7C00FE;
}

h1{
    font-size: 3.5rem;
    font-weight: 400;
    color: #F9E400;
    text-shadow: 1px 1px #815800;
    background-color: #F5004F;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 0 2%;
    box-shadow: 3px 5px black;
}

.choices{
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 3px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F9E400;
}

.choices button{
    font-size: 6rem ;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.choices button:hover{
    opacity: .8;
    transition: .15s;
}

.choices button:active{
    opacity: .7;
}

.choices button img{
    height: 100px;
    border-radius: 40px;
    border: 2px dotted #F5004F;
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
    color: #F9E400;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
    color: #F9E400;
}
